{
    "singleQuote": true,
    "printWidth": 100,
    "proseWrap": "always",
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "semi": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "embeddedLanguageFormatting": "auto"
}
